:root {
  --primary-color: #3a3d40;
  --secondary-color: #be3144;
  --primary-accent-color: #45567d;
  --secondary-accent-color: blanchedalmond;
  --secondary-active-color: crimson;
  --white: white;

  --move-up-and-down: MoveUpAndDown 2s linear infinite;
}

@keyframes MoveUpAndDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.25rem);
  }
}
